html, body {
    margin: 0;
    padding: 0;
  }
  
  #controls {
    margin: 20px;
  }
  
  label, select, button {
    margin-right: 10px;
  }
  
  
  #canvas-container-parent {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  #canvas-container {
    border: 1px solid red;
  }